# Question 3

3. Does percentage of births attended by skilled health staff affect maternal mortality rate? Does it vary by continent and by country??

Births attended by skilled health staff (% of total): https://data.worldbank.org/indicator/SH.STA.BRTC.ZS?view=chart
Maternal mortality ratio (modeled estimate, per 100,000 live births): https://data.worldbank.org/indicator/SH.STA.MMRT?end=2010&start=2010&view=chart

### Extraction

 1. Read in csv files for Births attended by skilled health staff, Maternal mortality ratio, and country to continent
 2. When reading in files, skip 3 rows (except for the continent to country csv).
 3. Store each csv file in a memorable variable.


### Transformation

- For country to continent csv: drop all columns except for three letter country code, continent name, and country name
- For 2 WorldBank Sources: 
    - Remove all columns except for 2017 and country code.
        - You may want to keep country name in one of the dataframes for merging/visualization readability.
    - Include an indicator of what the data is from in the 2017 column name. (i.e.'2017-mmr', etc.)
    - Remove rows with 'Country Code' = ['WLD', 'LAC', 'LCN', 'NAC', 'TLA', 'CEB', 'ECA', 'ECS', 'EU', 'TEC', 'EAP', 'EAS', 'SAS', 'TEA', 'TSA', 'MEA', 'MNA', 'SSA', 'SSF', 'TMN', 'TSS', 'ZAF', 'AFE', 'AFW', 'CAF']
        - Those are aggregated countries like North America, etc.
    - Remove rows with null values.
- Merge Worldbank dataframes along country code(not the country to continent table).
- Using the large merged dataframes, add the country to continent csv file by merging(country code to three letter country code).
- Group by continent to compare both maternal mortality rates and births attended by skilled healthcare workers. Is there a relationship?
- Select one continent and see if the countries within that continent vary. Have fun with it!

In [1]:
import pandas as pd

### Extraction

In [2]:
births_attended = pd.read_csv('data/API_SH.STA.BRTC.ZS_DS2_en_csv_v2_3470023.csv', skiprows=3)
maternal_mortality_ratio = pd.read_csv('data/API_SH.STA.MMRT_DS2_en_csv_v2_3469855.csv', skiprows=3)
continent_to_counrty = pd.read_csv('data/country-to-continent.csv')

### Transformation

In [3]:
continent_to_counrty.drop(['Continent_Name','Country_Number','Two_Letter_Country_Code'], axis=1, inplace=True)
births_attended.drop(["Country Name","Indicator Name","Indicator Code","1960","1961","1962","1963","1964","1965","1966","1967","1968","1969","1970","1971","1972","1973","1974","1975","1976","1977","1978","1979","1980","1981","1982","1983","1984","1985","1986","1987","1988","1989","1990","1991","1992","1993","1994","1995","1996","1997","1998","1999","2000","2001","2002","2003","2004","2005","2006","2007","2008","2009","2010","2011","2012","2013","2014","2015","2016","2018","2019","2020","Unnamed: 65"], axis=1, inplace=True)
maternal_mortality_ratio.drop(["Country Name","Indicator Name","Indicator Code","1960","1961","1962","1963","1964","1965","1966","1967","1968","1969","1970","1971","1972","1973","1974","1975","1976","1977","1978","1979","1980","1981","1982","1983","1984","1985","1986","1987","1988","1989","1990","1991","1992","1993","1994","1995","1996","1997","1998","1999","2000","2001","2002","2003","2004","2005","2006","2007","2008","2009","2010","2011","2012","2013","2014","2015","2016","2018","2019","2020","Unnamed: 65"], axis=1, inplace=True)
maternal_mortality_ratio.rename({'2017':'2017-mmr'}, axis = 1, inplace=True)
births_attended.rename({'2017':'2017-ba'}, axis = 1, inplace=True)

maternal_mortality_ratio.drop(maternal_mortality_ratio[maternal_mortality_ratio['Country Code'].isin(['WLD', 'LAC', 'LCN', 'NAC', 'TLA', 'CEB', 'ECA', 'ECS', 'EU', 'TEC', 'EAP', 'EAS', 'SAS', 'TEA', 'TSA', 'MEA', 'MNA', 'SSA', 'SSF', 'TMN', 'TSS', 'ZAF', 'AFE', 'AFW', 'CAF'])].index, inplace=True)
births_attended.drop(births_attended[births_attended['Country Code'].isin(['WLD', 'LAC', 'LCN', 'NAC', 'TLA', 'CEB', 'ECA', 'ECS', 'EU', 'TEC', 'EAP', 'EAS', 'SAS', 'TEA', 'TSA', 'MEA', 'MNA', 'SSA', 'SSF', 'TMN', 'TSS', 'ZAF', 'AFE', 'AFW', 'CAF'])].index, inplace=True)
maternal_mortality_ratio.dropna(axis=0, inplace=True)
births_attended.dropna(axis=0, inplace=True)

In [4]:
merged_world_bank_data = maternal_mortality_ratio.merge(births_attended, how='inner', on='Country Code')

In [5]:
merged_world_bank_data_continent = merged_world_bank_data.merge(continent_to_counrty, how='inner', left_on='Country Code', right_on='Three_Letter_Country_Code')

In [6]:
merged_world_bank_data_continent

,Country Code,2017-mmr,2017-ba,Continent_Code,Country_Name,Three_Letter_Country_Code
0,AFG,638.0,53.4,AS,"Afghanistan, Islamic Republic of",AFG
1,ARG,39.0,93.9,SA,"Argentina, Argentine Republic",ARG
2,ATG,42.0,100.0,NaN,Antigua and Barbuda,ATG
3,AUS,6.0,96.7,OC,"Australia, Commonwealth of",AUS
4,AUT,5.0,98.4,EU,"Austria, Republic of",AUT
...,...,...,...,...,...,...
78,TUR,17.0,98.0,AS,"Turkey, Republic of",TUR
79,URY,17.0,100.0,SA,"Uruguay, Eastern Republic of",URY
80,USA,19.0,99.1,NaN,United States of America,USA
81,UZB,29.0,100.0,AS,"Uzbekistan, Republic of",UZB
82,VEN,125.0,99.1,SA,"Venezuela, Bolivarian Republic of",VEN

In [7]:
merged_world_bank_data_continent.groupby('Continent_Code').count()

,Country Code,2017-mmr,2017-ba,Country_Name,Three_Letter_Country_Code
Continent_Code,,,,,
AF,9,9,9,9,9
AS,23,23,23,23,23
EU,25,25,25,25,25
OC,2,2,2,2,2
SA,10,10,10,10,10